name: R-INCIDENT-QUERY / PR
on:
  pull_request:

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci-steps.yaml
    secrets:
      DD_API_KEY: ${{ secrets.DD_API_KEY }}
