name: CI

on:
  workflow_call:
    inputs:
      node-version:
        description: "Node.js version to use"
        required: false
        type: string
        default: "24.0.0"
      dd-env:
        description: "Datadog environment"
        required: false
        type: string
        default: "ci"
    secrets:
      DD_API_KEY:
        required: true

permissions:
  contents: read
  issues: write
  pull-requests: write

env:
  REDIS_HOST: localhost
  REDIS_PORT: 6379
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: postgres
  POSTGRES_URL: postgres://postgres:postgres@localhost:5432/postgres
  POSTGRES_URL_TEST: postgres://postgres:postgres@localhost:5432/postgres
  MONGO_DB_URL: mongodb://localhost:27017
  MONGO_DB_NAME: jambo_api
  CI: true
  # Datadog configuration
  DD_CIVISIBILITY_ENABLED: true
  DD_API_KEY: ${{ secrets.DD_API_KEY }}
  DD_ENV: ci
  DD_SERVICE: intellirate-backend
  DD_VERSION: ${{ github.sha }}

jobs:
  # Install dependencies once and cache for other jobs
  setup:
    name: Setup & Install Dependencies
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ inputs.node-version  }}

      - name: Cache node_modules
        id: cache-node-modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-node-${{ inputs.node-version }}-${{ hashFiles('yarn.lock') }}

      - name: Install Dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: yarn install

  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [setup]
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Restore node_modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-node-${{ inputs.node-version  }}-${{ hashFiles('yarn.lock') }}

      - name: Build App
        run: yarn build

      - name: Cache Build Output
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: |
            dist
            build
          key: build-output-${{ github.sha }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [setup]
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Restore node_modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-node-${{ inputs.node-version }}-${{ hashFiles('yarn.lock') }}

      - name: Run Linting
        continue-on-error: true # TODO: Remove this once the linting is fixed
        run: yarn lint:ci

  audit-ci:
    name: Audit CI
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [setup]
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Restore node_modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-node-${{ inputs.node-version }}-${{ hashFiles('yarn.lock') }}

      - name: Check for vulnerabilities
        run: yarn audit-ci

  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: [build, lint, audit-ci]
    permissions:
      contents: read
      issues: write
      pull-requests: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Restore node_modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-node-${{ inputs.node-version }}-${{ hashFiles('package-lock.json') }}

      - name: Restore Build Output
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: |
            dist
            build
            .next
          key: build-output-${{ github.sha }}

      - name: Clean coverage folder
        run: rm -rf coverage .nyc_output

      - name: Configure Datadog Test Optimization
        uses: datadog/test-visibility-github-action@4d09028b08a1f4431663b1de1550249cd4764051 # v2.4.1
        with:
          languages: js
          api_key: ${{secrets.DD_API_KEY}}
          site: us5.datadoghq.com

      - name: Run tests
        shell: bash
        env:
          NODE_OPTIONS: "--max-old-space-size=8000 -r ${{ env.DD_TRACE_PACKAGE }}"
          DD_CIVISIBILITY_ENABLED: ${{ env.DD_CIVISIBILITY_ENABLED }}
          DD_API_KEY: ${{ env.DD_API_KEY }}
          DD_ENV: ${{ env.DD_ENV }}
          DD_SERVICE: ${{ env.DD_SERVICE }}
          DD_VERSION: ${{ env.DD_VERSION }}
        run: yarn test:cov

      - name: Generate and Report Coverage
        if: github.event_name == 'pull_request'
        run: bash ./scripts/coverage-report.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
